[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 12.0
